* {
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: inherit;
  font-family: 'Rubik', sans-serif; }

/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@media only screen and (max-width: 75em) {
  html {
    font-size: 85%; } }

@media only screen and (max-width: 56.25em) {
  html {
    font-size: 75%; } }

@media only screen and (min-width: 112.5em) {
  html {
    font-size: xx-large; } }

.navigation {
  height: 20vh;
  max-height: 200px;
  display: flex;
  justify-content: space-between;
  position: relative;
  font-weight: 500; }
  .navigation__logo {
    position: absolute;
    top: 45%;
    left: 10%; }
    @media only screen and (max-width: 37.5em) {
      .navigation__logo {
        top: 40%;
        left: 6%; } }
  .navigation__nav {
    position: absolute;
    top: 40%;
    left: 40%; }
    @media only screen and (max-width: 37.5em) {
      .navigation__nav {
        display: none; } }
  .navigation__list {
    list-style: none; }
  .navigation__item {
    display: inline-block;
    padding: 1rem; }
    .navigation__item:not(:last-child):hover {
      color: #fa5757; }
  .navigation__items {
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    color: #252b46;
    text-transform: uppercase;
    transition: all .2s; }
  .navigation__items:hover {
    color: #fa5757; }
  .navigation .login {
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 5px;
    background-color: #fa5757;
    transition: all .2s; }
    .navigation .login:hover {
      background-color: white;
      color: #fa5757;
      border: 2px solid #fa5757; }

.header {
  height: 75vh;
  max-height: 800px;
  position: relative;
  background-image: url("../images/illustration-hero.svg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 50vw; }
  @media only screen and (max-width: 56.25em) {
    .header {
      height: 55vh; } }
  .header__bg {
    position: absolute;
    z-index: -1;
    bottom: 0;
    right: 0;
    width: 35%;
    height: 65%;
    border-radius: 300px 0 0 300px;
    background-color: #5368df; }
  .header__content {
    width: 35%;
    position: absolute;
    top: 25%;
    left: 10%; }
  .header__button {
    display: inline-block;
    margin-top: 1rem; }
  .header__btn {
    padding: 1rem 1.5rem;
    border-radius: 5px;
    font-weight: 600;
    border: none; }
    .header__btn:not(:last-child) {
      margin-right: 1rem; }
    .header__btn__blue {
      background-color: #5368df;
      color: white;
      cursor: pointer;
      transition: all .2s; }
    .header__btn__blue:hover {
      border: 2px solid #5368df;
      background-color: white;
      color: #5368df; }
    .header__btn__white {
      background-color: white;
      color: #252b46;
      box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
      cursor: pointer;
      transition: all .2s; }
    .header__btn__white:hover {
      border: 2px solid #252b46;
      background-color: white;
      color: #252b46; }

.heading-primary {
  color: #252b46;
  font-size: 2.5rem; }

.heading-secondary {
  color: #252b46;
  font-size: 1.8rem; }

.paragraph {
  font-size: 1rem;
  color: #9194a1;
  letter-spacing: 1px;
  padding: 1rem 0; }

.feature {
  height: 90vh;
  max-height: 900px;
  position: relative;
  margin-bottom: 12rem; }
  @media only screen and (max-width: 56.25em) {
    .feature {
      height: 150vh; } }
  @media only screen and (max-width: 37.5em) {
    .feature {
      height: 200vh;
      max-height: 1500px; } }
  .feature__main {
    width: 50%;
    position: absolute;
    top: 10%;
    left: 25%;
    text-align: center; }
  .feature__tab-section {
    position: absolute;
    top: 40%;
    left: 30%; }
    @media only screen and (max-width: 75em) {
      .feature__tab-section {
        left: 25%; } }
    @media only screen and (max-width: 56.25em) {
      .feature__tab-section {
        top: 26%;
        left: 40%; } }
  .feature__tab {
    position: absolute;
    top: 60%;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .feature__tab {
        top: 50%; } }
  .feature__img {
    margin-left: 3rem; }
    @media only screen and (max-width: 37.5em) {
      .feature__img {
        width: 75%; } }
  .feature__bg {
    position: absolute;
    z-index: -1;
    top: 80%;
    left: 0;
    width: 35%;
    height: 55%;
    border-radius: 0 3000px 3000px 0;
    background-color: #5368df; }
    @media only screen and (max-width: 56.25em) {
      .feature__bg {
        height: 25%;
        width: 38%; } }
    @media only screen and (max-width: 37.5em) {
      .feature__bg {
        top: 60%;
        height: 20%;
        width: 50%; } }
  .feature__content {
    margin: 5rem;
    text-align: center;
    width: 50%; }
    @media only screen and (max-width: 37.5em) {
      .feature__content {
        margin: 8rem auto; } }
  .feature__btn {
    background-color: #5368df;
    color: white;
    padding: .7rem 1.2rem;
    border: none; }
  .feature__btn:hover {
    cursor: pointer; }

.tabs .container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center; }
  @media only screen and (max-width: 56.25em) {
    .tabs .container {
      display: block; } }

.tabs .container > div {
  padding: 1.5rem 0;
  font-weight: 600;
  color: rgba(37, 43, 70, 0.6); }
  @media only screen and (max-width: 56.25em) {
    .tabs .container > div {
      margin-bottom: 2rem;
      padding: 1rem 0; } }

.tab-border {
  border-bottom: #fa5757 4px solid; }

.tab-content {
  padding: 3rem 0;
  background: #000;
  color: #fff; }

.tab-content-item {
  padding-top: 2rem; }

.content {
  display: flex;
  justify-content: space-between; }
  @media only screen and (max-width: 37.5em) {
    .content {
      display: block; } }

/*Hide content initially*/
.tab-item {
  cursor: pointer; }

#tab-1-content,
#tab-2-content,
#tab-3-content {
  display: none; }

.show {
  display: block !important; }

.dark {
  color: #252b46 !important; }

.about {
  margin-top: 16rem;
  height: 80vh;
  max-height: 1000px; }
  @media only screen and (max-width: 37.5em) {
    .about {
      height: 200vh;
      max-height: 1500px;
      margin-top: 9rem; } }
  .about__main {
    width: 50%;
    text-align: center;
    margin: 0 auto; }

.row {
  margin: 3rem 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .row:not(:last-child) {
    margin-right: 2.5rem; }
  @media only screen and (max-width: 37.5em) {
    .row {
      display: block; } }

.col-1-of-3 {
  padding: 1rem;
  width: 15rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15); }
  .col-1-of-3 > * {
    margin-bottom: 1.2rem; }
  @media only screen and (max-width: 37.5em) {
    .col-1-of-3 {
      margin-left: 12rem; } }
  .col-1-of-3__btn {
    background-color: #5368df;
    color: white;
    padding: 1rem 1.4rem;
    border: none;
    border-radius: 5px;
    font-size: smaller;
    transition: all .2s; }
  .col-1-of-3__btn:hover {
    border: 1.5px solid #5368df;
    color: #5368df;
    background-color: white; }

.heading-tertiary {
  color: #9194a1;
  font-size: .8rem; }

.comment {
  height: 90vh;
  max-height: 1000px;
  margin-top: 6rem; }
  @media only screen and (max-width: 75em) {
    .comment {
      height: 85vh; } }
  .comment__container {
    margin: 4rem;
    text-align: center; }
  .comment__btn {
    background-color: #5368df;
    color: white;
    padding: .7rem 1.2rem;
    border: none; }
  .comment__btn:hover {
    cursor: pointer; }

.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto; }

.accordion-item {
  background-color: white;
  color: #252b46;
  margin: 1rem 0;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25); }

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  cursor: pointer; }

.accordion-item-header::after {
  content: url("../images/icon-arrow.svg");
  font-size: 2rem; }

.accordion-item-header.active::after {
  transform: rotate(180deg); }

.accordion-item-body {
  display: none;
  padding: 1rem;
  border-top: 1px solid #252b46; }

.accordion-item-header.active + .accordion-item-body {
  display: block; }

.info {
  height: 40vh;
  max-height: 400px;
  background-color: #5368df;
  color: white;
  padding: 3.5rem;
  text-align: center; }
  @media only screen and (max-width: 75em) {
    .info {
      height: 34vh; } }
  .info > h2 {
    margin: 2rem;
    font-size: 2rem; }
  .info > h3 {
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 3px; }
  .info__input {
    padding: 1rem 7rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    border: none;
    color: rgba(37, 43, 70, 0.5); }
  .info__btn {
    padding: .7rem 6rem;
    background-color: #fa5757;
    color: white;
    border: none;
    border-radius: 5px;
    transition: all .2s; }
  .info__btn:hover {
    border: 1.5px solid #5368df;
    color: #fa5757;
    background-color: white;
    overflow: hidden; }

.footer {
  height: 5vh;
  max-height: 50px;
  background-color: #252b46;
  position: relative;
  padding: 2rem; }
  @media only screen and (max-width: 37.5em) {
    .footer {
      height: 34vh;
      max-height: 260px; } }
  .footer__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center; }
    @media only screen and (max-width: 37.5em) {
      .footer__row {
        display: block; }
        .footer__row > div {
          margin-bottom: 2rem; } }
  .footer__item {
    margin-right: 25rem; }
    @media only screen and (max-width: 37.5em) {
      .footer__item {
        display: flex;
        flex-direction: column; } }
    @media only screen and (max-width: 75em) {
      .footer__item {
        margin-right: 12rem; } }
    @media only screen and (max-width: 56.25em) {
      .footer__item {
        margin-right: 0; } }
  .footer__items {
    text-decoration: none;
    color: white;
    margin-right: 3rem;
    transition: all .2s; }
    @media only screen and (max-width: 37.5em) {
      .footer__items {
        margin-bottom: 1rem; } }
  .footer__items:hover {
    color: #fa5757; }
  .footer__social-media {
    margin-right: 2rem; }
  .footer__icon {
    margin-right: 1rem;
    transition: all .2s; }
  .footer__icon:hover {
    fill: #fa5757; }
