.feature{
  height: 90vh;
  position: relative;
  margin-bottom: 12rem;
  &__main{
    width: 50%;
    position: absolute;
    top: 10%;
    left: 25%;
    text-align: center;
  }
  &__tab-section{
    position: absolute;
    top: 40%;
    left: 30%;
  }
  &__tab{
    position: absolute;
    top: 60%;
  }
  &__img{
    margin-left: 3rem;
  }
  &__bg {
    position: absolute;
    z-index: -1;
    top: 80%;
    left: 0;
    width: 35%;
    height: 55%;
    border-radius: 0 3000px 3000px 0;
    background-color: $Soft-Blue;
  }
  &__content{
    margin-right: 5rem;
    text-align: center;
    width: 50%;
  }
  &__btn{
    background-color: $Soft-Blue;
    color: white;
    padding: .7rem 1.2rem;
    border: none;
  }
}
.tabs .container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-gap: 1rem;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.tabs .container > div {
  padding: 1.5rem 0;
  font-weight: 600;
}
.tab-border {
	border-bottom: $Soft-Red 4px solid;
}
.tab-content {
	padding: 3rem 0;
	background:#000;
	color: #fff;
}
.tab-content-item{
  padding-top: 2rem;
}
.content{
  display: flex;
  justify-content:space-between;
}
/*Hide content initially*/

#tab-1-content,
#tab-2-content,
#tab-3-content{
	display: none;
}
.show {
	display: block !important;
}
