
*{
  margin: 0;
  padding: 0;
  font-size: 18px;
  box-sizing: inherit;
  font-family: 'Rubik', sans-serif;
}
$Soft-Blue: hsl(231, 69%, 60%);
$Soft-Red: hsl(0, 94%, 66%);
$Grayish-Blue: hsl(229, 8%, 60%);
$Very-Dark-Blue: hsl(229, 31%, 21%);

// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/

@mixin respond($breakpoint) {
    @if $breakpoint == phone-S {
        @media only screen and (max-width: 23.4375em){ @content}; //375px
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };    //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };     //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };    //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };    //1800px
    }
}


html{
  @include respond(tab-land){
      font-size: 85%;
  }
  @include respond(tab-port){
      font-size: 75%;
  }
  @include respond(big-desktop){
      font-size: xx-large;
  }
}


.navigation{
  height: 20vh;
  max-height: 200px;
  display: flex;
  justify-content: space-between;
  position: relative;
  font-weight: 500;
  &__logo{
    position: absolute;
    top: 45%;
    left: 10%;
    @include respond(phone){
        top:40%;
        left: 6%;
    }
  }
  &__nav{
    position: absolute;
    top: 40%;
    left: 40%;
    @include respond(phone){
        display: none;
    }
  }
  &__list{
    list-style: none;
  }
  &__item{
    display: inline-block;
    padding: 1rem;
    &:not(:last-child):hover{
      color: $Soft-Red;
    }
  }
  &__items{
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    color: $Very-Dark-Blue;
    text-transform: uppercase;
    transition: all .2s;
  }
  &__items:hover{
    color: $Soft-Red;
  }
  .login{
    color: white;
    padding: 1rem 2.5rem;
    border-radius: 5px;
    background-color: $Soft-Red;
    transition: all .2s;
    &:hover{
      background-color: white;
      color: $Soft-Red;
      border: 2px solid $Soft-Red;
    }
  }
  // Hamburger icon

}
